[markupserve]
document_root = ~/Documents
port=8080
index_root = ~/.markupserve_index

[format:markdown]
suffixes = .md, .text, .mkd, .markdown
binary = ./md-renderer.py

[format:org-mode]
suffixes = .org
binary = ./org-renderer.rb
