<html>
<head>
<title>MarkupServe - {{filename}}</title>
<link rel=stylesheet href="/static/file_style.css" type="text/css" media=screen/>
</head>
<body>
<h1>{{filename}}</h1>
<p><a href="{{ parent }}">Parent Directory</a></p>
{{content}}
</body>
</html>
